.system-list-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;
}

.system-list-container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

ul {
  padding-left: 0;
}

.system-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  border-radius: 6px;
  padding: 15px 20px;
  margin-bottom: 15px;
  color: #ecf0f1; 
  transition: background-color 0.2s ease;
}

.system-item:hover {
  background-color: #34495e;
}

.system-info {
  text-decoration: none;
  justify-content: center;
  color: inherit;
  flex-grow: 1;
}

.system-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e8e8e8;
}

.system-hostname {
  font-size: 0.9rem;
  color: #bdc3c7;
}

.system-right {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.system-ip {
  font-size: 1rem;
  color: #e8e8e8;
}

.status-light {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
}

.status-light.online {
  background-color: rgb(36, 255, 36);
}

.status-light.offline {
  background-color: red;
}z
