.system-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #acacac;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.system-bar .data-container {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.system-bar .reload-button {
  margin-left: auto;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.system-bar .reload-button:hover {
  background-color: #0056b3;
}
