.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loading-cat {
  max-width: 400px;
  max-height: 300px; 
  overflow: hidden;
}

.loading-cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
